name: Build HIP-Basic CUDA

on:
  push:
    branches: [ amd-staging, amd-mainline, release/** ]
    paths:
      - 'HIP-Basic/**'
      - '.github/workflows/**'
  pull_request:
    branches: [ amd-staging, amd-mainline, release/** ]
    paths:
      - 'HIP-Basic/**'
      - '.github/workflows/**'

env:
    ROCM_VERSION: 6.4
    AMDGPU_INSTALLER_VERSION: 6.4.60400-1

jobs:
    build:
        name: "Build HIP Examples"
        runs-on: self-hosted
        container:
            image: nvidia/cuda:12.6.3-cudnn-devel-ubuntu22.04

        steps:
          - uses: actions/checkout@v4

          - name: Install dependencies
            run: |
                  apt-get update -qq &&
                  apt-get install -y build-essential g++ glslang-tools \
                    python3 python3-pip locales wget
                  python3 -m pip install --upgrade pip
                  python3 -m pip install cmake

          - name: Install Hip for CUDA
            run: |
              export DEBIAN_FRONTEND=noninteractive
              wget https://repo.radeon.com/amdgpu-install/${{ env.ROCM_VERSION }}/ubuntu/jammy/amdgpu-install_${{ env.AMDGPU_INSTALLER_VERSION }}_all.deb
              apt-get -y install ./amdgpu-install_${{ env.AMDGPU_INSTALLER_VERSION }}_all.deb &&
              apt-get update -qq &&
              apt-get install -y cuda hip-dev hipify-clang

          - name: Configure and Build
            shell: bash
            run: |
              cd HIP-Basic && mkdir build && cd build
              cmake -DGPU_RUNTIME=CUDA ..
              cmake --build . -j4
